version: '3.8'

services:
  api-gateway:
    image: nginx:alpine
    container_name: api-gateway
    ports:
      - "8088:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - micro_red

networks:
  micro_red:
    external: true
